<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout">

    <div layout:fragment="content">
        <div class='container'>
            <h1>Login</h1> <hr>
            <div class="col text-center">
                <a href="/" class="btn btn-success btn-block"> Home</a>
            </div><br>
            <form th:action="@{/login}" method="POST">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password"/>
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>

            <a href="/signup">회원가입 (신규가입 제한중)</a>
        </div>
    </div>

</html>