<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout">

<div layout:fragment="content">
    <div class='container'>
        <h1>게시글 등록</h1> <hr>
        <div class="col-md-12">
            <form>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="category">카테고리</label>
                    <select class="form-control" id="category">
                        <option value="etc" selected>ETC</option>
                        <option value="cs">CS 지식</option>
                        <option value="programming">Programming Language</option>
                        <option value="network">Network</option>
                        <option sec:authorize="hasRole('ROLE_ADMIN')" value="work">Work Experience</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="contents"> 내용 </label>
                    <textarea class="form-control" id="contents" rows="10" placeholder="내용을 입력하세요"></textarea>
                </div>
            </form>
            <div class="border" id="result"></div>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        </div>
    </div>
</div>



</html>
