<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout">

<div layout:fragment="content">
    <div class='container'>
        <h1>Sign Up</h1> <hr>

        <form th:action="@{/user}" method="POST">
            username : <input type="text" name="username"> <br>
            password : <input type="password" name="password"> <br>
            <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
            <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
            <button type="submit">Join</button>
        </form>

    </div>
</div>

</html>